In [12]:
from requests import get
from pandas import json_normalize
import pandas as pd

In [5]:
def get_elevation(lat = None, long = None):
    '''
        script for returning elevation in m from lat, long
    '''
    if lat is None or long is None: return None
    
    query = ('https://api.open-elevation.com/api/v1/lookup'
             f'?locations={lat},{long}')
    
    # Request with a timeout for slow responses
    r = get(query, timeout = 20)

    # Only get the json response in case of 200 or 201
    if r.status_code == 200 or r.status_code == 201:
        elevation = json_normalize(r.json(), 'results')['elevation'].values[0]
    else: 
        elevation = None
    return elevation

In [8]:
get_elevation(6.2254, -75.58)

1485

In [16]:
def treat_lat_lon (df, lat_col, lon_col):
    df[lat_col] = df[lat_col].str.replace(',', '.')
    df[lat_col] = df[lat_col].astype(float)
    df[lon_col] = df[lon_col].str.replace(',', '.')
    df[lon_col] = df[lon_col].astype(float)
    return df

In [34]:
bike_stations = pd.read_csv('https://wdl-data.fra1.digitaloceanspaces.com/medellin/station_location_with_id.csv', encoding='Latin-1', error_bad_lines=False, sep=';')
bike_stations = treat_lat_lon (bike_stations, 'Lat', 'Lon')

In [ ]:
bike_stations['elevation'] = bike_stations.apply(get_elevation(bike_stations['Lat'],bike_stations['Lon']), axis=1)

In [37]:
bike_stations

,ID,Description,numSlots,shortName,Lat,Lon,isManual,webDescription,photo
0,1,Moravia,15,MRV,6.276585,-75.564804,1,Frente a la entrada principal del Centro de De...,https://encicla.metropol.gov.co/imgstations/mo...
1,2,Universidad,33,UNI,6.269267,-75.565300,1,Bajo el viaducto de la estaciÃ³n Universidad d...,https://encicla.metropol.gov.co/imgstations/un...
2,3,Ruta N,40,RTN,6.265182,-75.566348,0,Frente a la fachada principal de Ruta N sobre ...,https://encicla.metropol.gov.co/imgstations/ru...
3,4,Punto Cero,10,PT0,6.265161,-75.575066,1,Intercambio vial de Punto Cero al lado de la e...,https://encicla.metropol.gov.co/imgstations/pu...
4,5,Universidad Nacional,33,NaN,6.259663,-75.578812,1,PorterÃ­a de la IguanÃ¡ con Carrera 65 de la U...,https://encicla.metropol.gov.co/imgstations/un...
...,...,...,...,...,...,...,...,...,...
102,138,Los Naranjos,36,PITA,6.171916,-75.606987,0,NaN,NaN
103,139,Villa Paula,40,PITA,6.174198,-75.606902,0,NaN,NaN
104,140,Parque el Artista,40,PITA,6.178924,-75.602170,0,NaN,NaN
105,141,Puente pan de Queso I,52,PITA,6.175649,-75.596444,0,NaN,NaN
106,142,Puente pan de Queso II,40,PITA,6.175478,-75.596621,0,NaN,NaN

In [ ]:
alt_dict={}
while (len(alt_dict.keys())!=len(bike_stations)):
    for _, row in bike_stations.iterrows():
        print(row.ID)
        if row['ID'] not in alt_dict.keys():
            print('try')
            try:
                alt_dict[row.ID] = get_elevation(row['Lat'],row['Lon'])
                print('suc')
            except:
                continue

1
try
2
try
suc
3
try
4
try
suc
5
try
6
try
7
try
8
try
9
try
10
try
11
try
suc
12
try
13
try
suc
19
try
20
try
21
try
suc
22
try
23
try
24
try
suc
27
try
28
try
32
try
suc
33
try
34
try
35
try
36
try
37
try
38
try
39
try
suc
40
try
41
try
42
try
43
try
44
try
suc
45
try
46
try
47
try
48
try
49
try
51
try
53
try
54
try
suc
55
try
56
try
57
try
58
try
59
try
suc
60
try
61
try
62
try
63
try
64
try
65
try
suc
66
try
67
try
70
try
89
try
90
try

In [43]:
alt_dict

{3: 1471,
 4: 1460,
 6: 1475,
 9: 1481,
 10: 1484,
 11: 1479,
 13: 1521,
 19: 1470,
 21: 1479,
 28: 1579,
 39: 1481,
 40: 1493,
 41: 1470,
 44: 1477,
 49: 1508,
 51: 1502,
 53: 1487,
 54: 1490,
 55: 1467,
 56: 1475,
 58: 1481,
 61: 1490,
 67: 1484,
 89: 1486,
 99: 1489,
 101: 1486,
 104: 1537,
 107: 1537,
 113: 1563,
 121: 1590,
 124: 1587,
 126: 1592,
 128: 1594,
 129: 1597,
 136: 1573,
 137: 1555,
 138: 1563,
 8: 1488,
 32: 1493,
 34: 1470,
 35: 1472,
 37: 1472,
 38: 1517,
 47: 1499,
 57: 1483,
 60: 1487,
 62: 1487,
 66: 1480,
 70: 1471,
 96: 1494,
 97: 1494,
 100: 1491,
 102: 1483,
 105: 1539,
 111: 1534,
 114: 1570,
 125: 1590,
 133: 1556,
 135: 1567,
 142: 1543,
 45: 1493,
 59: 1486,
 64: 1486,
 95: 1486,
 103: 1537,
 106: 1542,
 110: 1548,
 115: 1532,
 140: 1545,
 141: 1543,
 2: 1466,
 12: 1493,
 33: 1472,
 36: 1478,
 48: 1491,
 90: 1502,
 92: 1474,
 98: 1512,
 127: 1606,
 132: 1554,
 5: 1468,
 7: 1474,
 20: 1480,
 23: 1497,
 63: None,
 130: None,
 139: 1563,
 91: 1499,
 108: 1543,
 131: 1557,
 134: 1563,
 24: 1495,
 94: 1489,
 118: 1576,
 122: 1584,
 27: 1592,
 93: 1488,
 116: 1570,
 123: 1594,
 1: 1455,
 43: 1470,
 65: 1497,
 22: 1503,
 46: 1493,
 109: 1555,
 112: 1545,
 42: 1511}