In [2]:
import pandas as pd
import fiona
import matplotlib.pyplot as plt
pd.options.display.max_rows = 4000
from IPython.display import display
from matplotlib.collections import PatchCollection
from descartes import PolygonPatch
from shapely.geometry import Polygon, MultiPolygon, shape

In [79]:
variation = pd.read_csv('intermediate-data/variation.csv')
demand = pd.read_csv('/home/primity/wdl/1-stage/intermediate-data/demand.csv')

variation.County_of_Origin=variation.County_of_Origin.str.upper()
variation.District_of_Origin=variation.District_of_Origin.str.upper()

demand.County_of_Origin=demand.County_of_Origin.str.upper()
demand.District_of_Origin=demand.District_of_Origin.str.upper()

Demand_weight is relative to the county of Origin

In [78]:
variation.sample(2)

,Region_of_Origin,District_of_Origin,County_of_Origin,GenderDescription,AgeClassDescription,Average_BusUsers_per_Day_first,Average_BusUsers_per_Day_second,Variation_abs,Variation_rel
92,R1 - AM Lisboa,Lisboa,Vila Franca de Xira,Male,35-44,137.425488,124.491722,-12.933766,-0.094115
72,R1 - AM Lisboa,Lisboa,Oeiras,Male,65+,9574.868536,6687.302831,-2887.565705,-0.301578

In [28]:
# Groupby of Absolute and Relative Changes for some features
for col in ['Region_of_Origin','District_of_Origin', 'County_of_Origin', 'GenderDescription', 'AgeClassDescription']:
    first_period = variation.groupby(col)['Average_BusUsers_per_Day_first'].sum().to_frame().reset_index().sort_values(col, ascending=False)
    change = variation.groupby(col)['Variation_abs'].sum().to_frame().reset_index().sort_values(col, ascending=False)
    change['Variation_rel'] = change['Variation_abs'] / first_period['Average_BusUsers_per_Day_first']
    display(change.sort_values('Variation_rel', ascending=False))

  Region_of_Origin  Variation_abs  Variation_rel
0   R1 - AM Lisboa  -51762.788597      -0.320088
1    R2 - AM Porto -113532.063372      -0.497695

  District_of_Origin  Variation_abs  Variation_rel
3            Setúbal  -10091.683439      -0.246226
1             Lisboa  -41671.105158      -0.345163
0             Aveiro   -2897.788013      -0.482044
2              Porto -110634.275359      -0.498119

        County_of_Origin  Variation_abs  Variation_rel
0              Alcochete       9.288660       0.062548
24              Sesimbra      28.635580       0.046298
23                Seixal      61.820889       0.005868
28               Valongo    -296.221059      -0.065042
1                 Almada   -1061.275114      -0.127431
21  Santa Maria da Feira    -376.319946      -0.150157
2                Amadora   -1561.421516      -0.184241
15                Oeiras   -4853.122758      -0.204776
13               Montijo    -502.197506      -0.265686
8                 Loures   -2606.180743      -0.307197
22           Santo Tirso     -13.143120      -0.307346
20       Póvoa de Varzim    -728.170026      -0.347362
7                 Lisboa  -10121.016388      -0.363095
26                Sintra   -3012.047468      -0.369218
14              Odivelas   -6567.851360      -0.381289
3               Barreiro   -3309.663952      -0.387694
31         Vila do Conde    -186.748790      -0.389182
18               Paredes    -195.879294      -0.407049
30     Vila Nova de Gaia   -7051.619951      -0.407648
17               Palmela   -1851.953777      -0.418538
11            Matosinhos   -6890.297629      -0.426240
27                 Trofa    -439.215495      -0.445696
29   Vila Franca de Xira   -4846.003738      -0.459554
5                Espinho    -341.275992      -0.474737
6               Gondomar  -40206.615080      -0.479729
4                Cascais   -6385.610578      -0.490303
19                 Porto  -24089.699828      -0.504295
25               Setúbal   -2447.718347      -0.515437
9                  Mafra   -1717.850609      -0.529534
12                 Moita   -1018.619872      -0.580433
10                  Maia  -30536.665087      -0.630654
16   Oliveira de Azeméis   -2180.192075      -0.782438

  GenderDescription  Variation_abs  Variation_rel
0            Female  -83061.626134      -0.406960
1              Male  -82233.225835      -0.442764

  AgeClassDescription  Variation_abs  Variation_rel
2               35-44   -9591.636232      -0.323466
4               55-64  -19236.130004      -0.372249
3               45-54  -18278.466740      -0.399900
0               15-24  -16443.110233      -0.429465
5                 65+  -84524.568245      -0.440889
1               25-34  -17220.940515      -0.525144

In [ ]:
variation.groupby(['County_of_Origin', ])['Average_BusUsers_per_Day_first'].sum().to_frame().reset_index().sort_values(col, ascending=False)

# Groupby of Absolute and Relative Changes for some features
for col in ['Region_of_Origin','District_of_Origin', 'County_of_Origin', 'GenderDescription', 'AgeClassDescription']:
    first_period = variation.groupby(col)['Average_BusUsers_per_Day_first'].sum().to_frame().reset_index().sort_values(col, ascending=False)
    change = variation.groupby(col)['Variation_abs'].sum().to_frame().reset_index().sort_values(col, ascending=False)
    change['Variation_rel'] = change['Variation_abs'] / first_period['Average_BusUsers_per_Day_first']
    display(change.sort_values('Variation_rel', ascending=False))

In absolute terms, churn was higher in the Porto region, with the district of Aveiro presenting the lowest churn followed by Setúbal and Lisboa, with the Porto district showing the biggest churn. Men and women churned in similar quantities, churn was largest for people of older age, with an exception for the age band of 35-44, wich churned the least.  
For relative churn, which is likely more important, the Porto region also saw bigger churn than Lisbon. As for districts, Aveiro saw relative churns very similar to Porto, which had the largest churn. Males churned around 4% more than females, and for age range the highest-churning were people aged 25-34.

In [32]:
variation.sort_values('Variation_rel').head(3)

,Region_of_Origin,District_of_Origin,County_of_Origin,GenderDescription,AgeClassDescription,Average_BusUsers_per_Day_first,Average_BusUsers_per_Day_second,Variation_abs,Variation_rel
162,R2 - AM Porto,Aveiro,Santa Maria da Feira,Female,25-34,153.751464,5.514983,-148.236481,-0.964131
111,R1 - AM Lisboa,Setúbal,Barreiro,Female,55-64,592.699020,25.425953,-567.273067,-0.957101
49,R1 - AM Lisboa,Lisboa,Mafra,Male,25-34,432.498117,24.345274,-408.152843,-0.943710

# Looping counties of origin with worst churn
for i, county in enumerate(list(variation.sort_values('Variation_rel')['County_of_Origin'])):
    # For those counties, is there demand for them as destination?
    if len(demand[demand.County_of_Public_Transportation==county]):
        print(i, county)
        display(demand[demand.County_of_Public_Transportation==county].sort_values('Demand_weight', ascending=False).head(2))

In [100]:
origins= set(demand.District_of_Origin)
destinations = set(demand.District_of_Public_Transportation)
print('\033[1mDistricts in Origins but not in Destination \033[0m- ', end='')
print(origins-destinations, end= ' ')
print(' ')
print('\033[1mDistricts in Destination but not in Origin \033[0m- ', end='')
print(destinations-origins, end= ' ')
print('\n')
origins= set(demand.County_of_Origin)
destinations = set(demand.County_of_Public_Transportation)
print('\033[1mCounties in Origins but not in Destination \033[0m- ', end='')
print(origins-destinations, end= ' ')
print(' ')
print('\033[1mCounties in Destination but not in Origin \033[0m- ', end='')
print(destinations-origins, end= ' ')

Districts in Origins but not in Destination - {'AVEIRO'}
Districts in Destination but not in Origin - set()

Counties in Origins but not in Destination - {'SETÚBAL', 'ALCOCHETE', 'SÃO JOÃO DA MADEIRA', 'SANTA MARIA DA FEIRA', 'PALMELA', 'MAFRA', 'PÓVOA DE VARZIM', 'MONTIJO', 'OLIVEIRA DE AZEMÉIS', 'CASCAIS', 'VALE DE CAMBRA', 'VILA FRANCA DE XIRA', 'ESPINHO', 'MOITA', 'BARREIRO', 'SESIMBRA'}
Counties in Destination but not in Origin - set()

# Parishes that dominate their county

In [102]:
demand.sample(4)

,Region_of_Origin,District_of_Origin,County_of_Origin,Region_of_Public_Transportation,District_of_Public_Transportation,County_of_Public_Transportation,Parish_of_Public_Transportation,Demand_weight
218,R2 - AM Porto,PORTO,PORTO,R1 - AM Lisboa,LISBOA,AMADORA,Alfragide,0.000003
1993,R1 - AM Lisboa,LISBOA,SINTRA,R2 - AM Porto,PORTO,MAIA,Vila Nova da Telha,0.000000
1121,R2 - AM Porto,AVEIRO,SANTA MARIA DA FEIRA,R2 - AM Porto,PORTO,PORTO,"União das freguesias de Cedofeita, Santo Ildef...",0.131608
1715,R1 - AM Lisboa,SETÚBAL,ALCOCHETE,R2 - AM Porto,PORTO,PORTO,Campanhã,0.000077

In [ ]:
demand.sort_values('Demand_weight', ascending=False)['Demand_weight']